$light_theme_background_color: #f3f4f6; /* 亮色主题背景 */
$light_theme_color: #364053; /* 亮色主题内容颜色 */
$light_theme_sub_background_color: #d0d5dc; /* 亮色主题次级背景 */
$light_theme_sub_color: rgba(62, 58, 57, 0.5); /* 亮色主题次级字体颜色 */


$dark_theme_background_color: #0f1828; /* 暗色主题背景 */
$dark_theme_color: #99a3ad; /* 暗色主题内容颜色 */
$dark_theme_sub_color: rgba(225, 235, 247, 0.5); /* 暗色主题次级字体颜色 */
$dark_theme_sub_background_color: #354152; /* 暗色主题次级背景 */

$large_screen_device: 1200px; /* 大屏PC设备 */